html {

    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400, 700;
    background-color: hsl(185, 75%, 39%);
}







.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }